/zig/random_stuff/*
/zig/zig-out
/zig/zig-cache
/zig/.vscode/settings.json
**/All_Amazon_Meta.json
**/All_Amazon_Meta.json.gz
/zig/queries.txt
/zig/terms_sorted.txt
/zig/terms_sorted2.txt
/zig/terms_unsorted.txt
