:root {
	--TEXT_COLOR: #F8F8F2;
	--TEXT_COLOR: #000000;
	--SELECTED_COLOR: #f81c1c;
	--SELECTED_COLOR: #df0000;
	/* --SELECTED_COLOR: #009118; */
	--CANDIDATE_COLOR: #000000;
	--PICKED_COLOR:  #000000;
	--TRAVERSED_COLOR: #ffb9b9;
	--TRAVERSED_COLOR: #000;
	/* #ff7777; */
	--DISABLED_COLOR: #3a4057; /* 3b4566 */
	--BACKGROUND_COLOR: rgb(255, 255, 255);
	/* --BACKGROUND_COLOR: rgb(40, 42, 54); */
	--ORIGINAL_COLOR: #4a5f9e;
	--DISABLED_COLOR: #d1d9ec; /* 3b4566 */

	--DIALOG_BACKGROUND_COLOR: #ffffff99
}

/* #ABF2BC */
/* #FFC1C0 */
